/* ==========
   CSS Reset
========== */

*{

    margin:0;
    padding:0;

    box-sizing:border-box;

}

html{

    scroll-behavior:smooth;

}

body{

    font-family:'Poppins',sans-serif;

    background:#ffffff;

    color:#1e293b;

}

/* ===========================
   Navigation
=========================== */

nav{

    display:flex;

    justify-content:space-between;

    align-items:center;

    padding:20px 80px;

}

.logo{

    font-size:28px;

    font-weight:700;

    color:#2563eb;

    cursor:pointer;

}

.nav-links{

    display:flex;

    list-style:none;

    gap:35px;

}

.nav-links a{

    text-decoration:none;

    color:#1e293b;

    font-weight:500;

    transition:0.3s;

}

.nav-links a:hover{

    color:#2563eb;

}

.theme-btn{

    border:none;

    background:#2563eb;

    color:white;

    padding:10px 15px;

    border-radius:8px;

    cursor:pointer;

    font-size:18px;

}







/* ===========================
   Hero Section
=========================== */

#hero{

    padding:80px;

}

.hero-content{

    display:flex;

    justify-content:space-between;

    align-items:center;

    gap:60px;

}

.hero-text{

    flex:1;

}



.greeting{

    color:#2563eb;

    font-size:20px;

    margin-bottom:10px;

}


.hero-text h1{

    font-size:60px;

    margin-bottom:20px;

}




.hero-text h2{

    font-size:30px;

    color:#475569;

    margin-bottom:25px;

}

.description{

    font-size:18px;

    line-height:1.8;

    margin-bottom:35px;

}

.hero-buttons{

    display:flex;

    gap:20px;

}



.primary-btn{

    padding:15px 30px;

    border:none;

    background:#2563eb;

    color:white;

    border-radius:8px;

    cursor:pointer;

    transition:.3s;

}


.primary-btn:hover{

    background:#1e40af;

}


.secondary-btn{

    padding:15px 30px;

    border:2px solid #2563eb;

    background:white;

    color:#2563eb;

    border-radius:8px;

    cursor:pointer;

    transition:.3s;

}

.secondary-btn:hover{

    background:#2563eb;

    color:white;

}



.hero-image{

    flex:1;

    display:flex;

    justify-content:center;

}


.hero-image img{

    width:350px;
    height:350px;

    object-fit:cover;

    object-position:center top;

    border-radius:50%;

    border:5px solid #2563eb;
}

